@use './mixins.scss' as mixins;
@use './_functions.scss' as functions;

:root {
	--white: #fff;
	--red-main: #df231d;
	// --red-optional:
	--yellow: #fbd927;
	--green-light: #57a03c;
	--beige-optional: #ca9161;
	--light-optional: #fffbde;
	--black: #000;
}

// #app {
// }

body {
	max-width: 1920px;
	margin: 0 auto;
	font-weight: normal;
	font-family: 'Montserrat', sans-serif;
	background-color: var(--white);
}

.container {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 293px;
}

.section-l {
	width: 100%;
	// min-height: 1000px;
}

.section-m {
	width: 100%;
	// min-height: 800px;
}

.title-red {
	font-size: 50px;
	line-height: 110%;
	font-weight: 700;
	color: var(--red-main);
	text-transform: uppercase;
}

.title-green {
	font-size: 80px;
	line-height: 110%;
	font-weight: 700;
	color: var(--green-light);
	text-transform: uppercase;
}

.subtitle {
	font-size: 29px;
	line-height: 110%;
	font-weight: 500;
	color: var(--black);
}

@media (max-width: 1920px) {
	.container {
		padding: 0 functions.calcVW(293);
	}

	.title-red {
		@include mixins.adaptive-font(50, 30);
	}

	.title-green {
		@include mixins.adaptive-font(80, 35);
	}

	.subtitle {
		@include mixins.adaptive-font(29, 16);
	}
}

@media (max-width: 1440px) {
	.container {
		padding: 0 functions.calcVW(240);
	}
}

@media (max-width: 1280px) {
	.container {
		padding: 0 functions.calcVW(200);
	}
}

@media (max-width: 768px) {
	.title-red {
		font-size: 30px;
	}

	.title-green {
		font-size: 35px;
	}

	.subtitle {
		font-size: 16px;
	}
}

@media (max-width: 480px) {
	.title-red {
		font-size: 24px;
	}
}

@media (max-width: 350px) {
	.title-red {
		font-size: 22px;
	}
}
