html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

ul,
ol,
menu,
button {
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
input,
menu,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

input,
textarea {
	outline: none;
}

textarea {
	resize: none;
}

ul,
menu {
	list-style: none;
}

img {
	max-width: 100%;
	display: block;
}

a {
	text-decoration: none;
	color: inherit;
}

input,
button,
textarea,
select {
	font: inherit;
	letter-spacing: inherit;
}

// input[type='number']::-webkit-outer-spin-button,
// input[type='number']::-webkit-inner-spin-button {
// 	-webkit-appearance: none; // Yeah, yeah everybody write about it
// }

// input[type='number'],
// input[type='number']:hover,
// input[type='number']:focus {
// 	appearance: none;
// 	-moz-appearance: textfield;
// }

button {
	border: none;
	outline: none;
}
